### Importing required libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
#Taking data
cnf_data = pd.read_csv('Covid-19-Hackathon-master/covid_confirmed_daily_updates.csv')
death_data = pd.read_csv('Covid-19-Hackathon-master/covid_deaths_daily_updates.csv')
recover_data = pd.read_csv('Covid-19-Hackathon-master/covid_recovered_daily_updates.csv')

In [20]:
cnf_data.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1,1,1,4,4,5,7,7,7,11
1,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,10,12,23,33,38
2,Algeria,0,0,0,0,0,0,0,0,0,...,12,17,17,19,20,20,20,24,26,37
3,Andorra,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

### Confirm data group

In [12]:
confirm_data_group = cnf_data.groupby('Country/Region', as_index=False).sum()

In [16]:
confirm_data_group.reset_index(inplace=True, drop=True)

In [19]:
confirm_data_group.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1,1,1,4,4,5,7,7,7,11
1,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,10,12,23,33,38
2,Algeria,0,0,0,0,0,0,0,0,0,...,12,17,17,19,20,20,20,24,26,37
3,Andorra,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,Antigua and Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

### Recovered Data Group

In [22]:
recover_data_group = recover_data.groupby('Country/Region', as_index=False).sum()

In [23]:
recover_data_group.reset_index(inplace=True, drop=True)

### Death Data group

In [24]:
death_data_group = death_data.groupby('Country/Region', as_index=False).sum()

In [25]:
death_data_group.reset_index(inplace=True, drop=True)

### Predict using Moving Average

In [29]:
confirm_data_group.rolling(window=1, axis=1).mean()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,4.0,4.0,5.0,7.0,7.0,7.0,11.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,10.0,12.0,23.0,33.0,38.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,17.0,17.0,19.0,20.0,20.0,20.0,24.0,26.0,37.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,116.0,164.0,207.0,274.0,322.0,384.0,459.0,459.0,801.0,1143.0
139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
141,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,16.0,16.0,18.0,30.0,30.0,31.0,38.0,39.0,47.0,53.0
142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
confirm_data_group.ewm(span=1).mean()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,4.0,4.0,5.0,7.0,7.0,7.0,11.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,10.0,12.0,23.0,33.0,38.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,17.0,17.0,19.0,20.0,20.0,20.0,24.0,26.0,37.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,116.0,164.0,207.0,274.0,322.0,384.0,459.0,459.0,801.0,1143.0
139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
141,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,16.0,16.0,18.0,30.0,30.0,31.0,38.0,39.0,47.0,53.0
142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
def cal_moving_avg(input_df, window=2):
    """Calculates Moving avg using the window size."""
    _df = input_df.rolling(window, axis=1).median()['3/10/20']
    
    return _df

def cal_ewma(input_df, comm=0.3):
    """Calculates the exp wighted moving average using the window size."""
    _df = input_df.ewm(com=comm).mean()['3/10/20']
    
    return _df

In [27]:
all_pred_df = pd.DataFrame()
all_pred_df_ew = pd.DataFrame()

for df in [confirm_data_group, recover_data_group, death_data_group]:
    _df = cal_moving_avg(df, window=2)
    ew_df = cal_ewma(df, comm=0.4)
    all_pred_df = pd.concat([all_pred_df, _df], axis=1)
    all_pred_df_ew = pd.concat([all_pred_df_ew, ew_df], axis=1)
    
all_pred_df.columns =['Confirmed', 'Recovered', 'Death']    
all_pred_df_ew.columns =['Confirmed', 'Recovered', 'Death']

In [28]:
all_pred_df

     Confirmed  Recovered  Death
0          4.5        0.0    0.0
1          6.0        0.0    0.0
2         20.0        0.0    0.0
3          1.0        0.0    0.0
4          0.0        0.0    0.0
..         ...        ...    ...
138      353.0       18.5    5.0
139        0.0        0.0    0.0
140        0.0        0.0    0.0
141       30.5       16.0    0.0
142        0.0        0.0    0.0

[143 rows x 3 columns]

In [34]:
all_pred_df_ew

      Confirmed  Recovered     Death
0      5.000000   0.000000  0.000000
1      8.888889   0.000000  0.000000
2     17.014925   0.000000  0.000000
3      5.498952   0.000000  0.000000
4      1.563636   0.000000  0.000000
..          ...        ...       ...
138  305.433301  16.154895  4.752235
139   87.266657   4.615684  1.357782
140   24.933331   1.318767  0.387938
141   29.266666  11.805362  0.110839
142    8.361905   3.372961  0.031668

[143 rows x 3 columns]

In [ ]:
#Confirmed cases head
cnf_data.head()

In [ ]:
#Death cases head
death_data.head()

In [ ]:
#Recovered cases head
recover_data.info()

In [ ]:
#Confirmed COVID Cases
cnf_data.info()

In [ ]:
#Copy of Confirmed Cases dataframe
cnf_df = cnf_data.copy()

In [ ]:
cnf_df.head()

In [ ]:
cnf_df.columns[:]

In [ ]:
#Converting all the date columns to datetime format for further processing
#for col in cnf_df.columns[1:]:
#    cnf_df[col] = pd.to_datetime(cnf_df[col])

In [ ]:
#cnf_df.info()

In [ ]:
#Transposing
cnf_df = cnf_df.transpose()

In [ ]:
#Taking the column Names(Country Names)
cols = cnf_df.iloc[0,:]

In [ ]:
#Making them as columns of cnf_df
cnf_df.columns = list(cols)

In [ ]:
#Dropping the first row as it is having the Country names
cnf_df.drop(cnf_df.index[0],inplace=True)

In [ ]:
#Exporting Transposed data as csv file
cnf_df.to_csv('Transposed_cnf_data.csv')

In [ ]:
#Import the exported csv as fresh and work on it
transposed_cnf = pd.read_csv('Transposed_cnf_data.csv', index_col=0, parse_dates=True)

### We can use a function to convert all the 3 csv files to our required format

In [5]:
all_csv = [cnf_data, death_data, recover_data]

In [6]:
def convert_by_country_csv(dataframe, files):
    
    #Transposing
    dataframe = dataframe.transpose()
    
    #Taking Country Names as Cols
    cols = dataframe.iloc[0,:]
    
    #Making cols as the columns of the df
    dataframe.columns = list(cols)
    
    #Dropping 1st row as they are country names
    dataframe.drop(dataframe.index[0], inplace=True)
    
    #Export to Separate csv file
    dataframe.to_csv(files[0]+'.csv')#Naming csv file as per Cases
    del files[0]
    #print(files)

In [7]:
files = ['Confirmed_cases_country', 'Deaths_country', 'Recovered_country']

In [8]:
for csvfile in all_csv:
    convert_by_country_csv(csvfile,files)

In [ ]:
#axs = transposed_cnf['India'].plot(figsize=(12,5))

#Set XLABEL ''
#axs.set(xlabel='')

#Set Tick locator & Formatter for Major Axis
#axs.xaxis.set_major_locator(dates.WeekdayLocator(byweekday=0))

In [9]:
#Now, Load the csv files as we transposed them as we required
cnf_transposed = pd.read_csv('Confirmed_cases_country.csv', parse_dates=True, index_col = 0)
deaths_transposed = pd.read_csv('Deaths_country.csv', parse_dates=True, index_col = 0)
recovered_transposed = pd.read_csv('Recovered_country.csv', parse_dates=True, index_col=0)

In [ ]:
###Taking only India data for Forecasting
india_dict = {'Confirmed': cnf_transposed['India'], 
              'Deaths': deaths_transposed['India'],
              'Recovered': recovered_transposed['India']}

india_df_all = pd.DataFrame(india_dict)
india_df_all.index.name = 'Date'

india_df_all.index.freq='D'

In [ ]:
#Checking the head
india_df_all.head()

In [ ]:
#EDA
india_df_all.plot(figsize=(12,5))

In [ ]:
india_df_all.info()

In [ ]:
#Splitting Data
train_data = india_df_all[:43] #Taking till 42 days to train model and then to forecase for 10 days
test_data = india_df_all[43:] #10 days to forecast on the trained model

In [ ]:
# Ignore harmless warnings
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from pmdarima import auto_arima

In [ ]:
india_df_all[]

In [ ]:
# Load specific forecasting tools
from statsmodels.tsa.ar_model import AR,ARResults

In [ ]:
model = AR(train_data['Confirmed'])
AR1fit = model.fit(maxlag=,method='mle')
print(f'Lag: {AR1fit.k_ar}')
print(f'Coefficients:\n{AR1fit.params}')

In [ ]:
preds1 = AR1fit.predict(start = len(train_data), end = len(train_data) + len(test_data)-1, dynamic=False).rename('AR 1 Preds')

In [ ]:
preds1

In [ ]:
# Comparing predictions to expected values
for i in range(len(preds1)):
    print(f"predicted={preds1[i]:<11.10}, expected={test_data['Confirmed'][i]}")

In [ ]:
from pmdarima import auto_arima

In [ ]:
all_data_dict = {'Confirmed': cnf_transposed[['India', 'Mainland China', 'Italy', 'Korea, South', 'Pakistan', 'Australia']], 
              'Deaths': deaths_transposed[['India', 'Mainland China', 'Italy', 'Korea, South', 'Pakistan', 'Australia']],
              'Recovered': recovered_transposed[['India', 'Mainland China', 'Italy', 'Korea, South', 'Pakistan', 'Australia']]}